/.idea/.idea.NbaApi/.idea/.gitignore
/NbaApi/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/NbaApi/obj/Debug/net7.0/apphost
/NbaApi/bin/Debug/net7.0/appsettings.Development.json
/NbaApi/bin/Debug/net7.0/appsettings.json
/.idea/.idea.NbaApi/Docker/docker-compose.generated.override.yml
/.idea/.idea.NbaApi/.idea/encodings.xml
/.idea/.idea.NbaApi/.idea/indexLayout.xml
/NbaApi/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
/NbaApi/bin/Debug/net7.0/Microsoft.Extensions.Caching.StackExchangeRedis.dll
/NbaApi/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/NbaApi/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/NbaApi/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/NbaApi/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
/NbaApi/bin/Debug/net7.0/Microsoft.OpenApi.dll
/NbaApi/obj/Debug/net7.0/staticwebassets/msbuild.build.NbaApi.props
/NbaApi/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.NbaApi.props
/NbaApi/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.NbaApi.props
/NbaApi/bin/Debug/net7.0/NbaApi
/NbaApi/obj/Debug/net7.0/NbaApi.AssemblyInfo.cs
/NbaApi/obj/Debug/net7.0/NbaApi.AssemblyInfoInputs.cache
/NbaApi/obj/Debug/net7.0/NbaApi.assets.cache
/NbaApi/obj/Debug/net7.0/NbaApi.csproj.AssemblyReference.cache
/NbaApi/obj/Debug/net7.0/NbaApi.csproj.CopyComplete
/NbaApi/obj/Debug/net7.0/NbaApi.csproj.CoreCompileInputs.cache
/NbaApi/obj/Debug/net7.0/NbaApi.csproj.FileListAbsolute.txt
/NbaApi/obj/NbaApi.csproj.nuget.dgspec.json
/NbaApi/obj/NbaApi.csproj.nuget.g.props
/NbaApi/obj/NbaApi.csproj.nuget.g.targets
/NbaApi/bin/Debug/net7.0/NbaApi.deps.json
/NbaApi/bin/Debug/net7.0/NbaApi.dll
/NbaApi/obj/Debug/net7.0/ref/NbaApi.dll
/NbaApi/obj/Debug/net7.0/refint/NbaApi.dll
/NbaApi/obj/Debug/net7.0/NbaApi.dll
/NbaApi/obj/Debug/net7.0/NbaApi.GeneratedMSBuildEditorConfig.editorconfig
/NbaApi/obj/Debug/net7.0/NbaApi.genruntimeconfig.cache
/NbaApi/obj/Debug/net7.0/NbaApi.GlobalUsings.g.cs
/NbaApi/obj/Debug/net7.0/NbaApi.MvcApplicationPartsAssemblyInfo.cache
/NbaApi/obj/Debug/net7.0/NbaApi.MvcApplicationPartsAssemblyInfo.cs
/NbaApi/bin/Debug/net7.0/NbaApi.pdb
/NbaApi/obj/Debug/net7.0/NbaApi.pdb
/NbaApi/bin/Debug/net7.0/NbaApi.runtimeconfig.json
/NbaApi/bin/Debug/net7.0/NbaApi 2
/NbaApi/bin/Debug/net7.0/NbaApi 2.dll
/NbaApi/obj/Debug/net7.0/ref/NbaApi 2.dll
/NbaApi/bin/Debug/net7.0/NbaApi 2.pdb
/NbaApi/bin/Debug/net7.0/Pipelines.Sockets.Unofficial.dll
/NbaApi/obj/project.assets.json
/NbaApi/obj/project.nuget.cache
/NbaApi/obj/project.packagespec.json
/NbaApi/obj/rider.project.model.nuget.info
/NbaApi/obj/rider.project.restore.info
/NbaApi/bin/Debug/net7.0/StackExchange.Redis.dll
/NbaApi/obj/Debug/net7.0/staticwebassets.build.json
/NbaApi/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/NbaApi/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/NbaApi/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/NbaApi/bin/Debug/net7.0/System.Diagnostics.DiagnosticSource.dll
/.idea/.idea.NbaApi/.idea/vcs.xml
